# Dependencies
node_modules/
.pnpm-store/

# Build output
build/
.DS_Store

# Environment variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp

# OS files
Thumbs.db
.DS_Store

# Render
render.yaml
